.blockinfo {
  background-color: whitesmoke;
  width: 50%;
  margin-left: 18%;
  padding: 2%;
}
.blockinfoside {
  background-color: whitesmoke;
  width: 23%;
  position: fixed;

  margin-top: 17.2%;
  padding: 2%;
  margin-left: 75%;
}
.h1 {
  margin-left: 21%;
}
.h2 {
  margin-left: 32%;
}
.h3 {
  margin-left: 23%;
}
.h4 {
  margin-left: 34%;
}
.h5 {
  margin-left: 36%;
}
.h6 {
  margin-left: 33%;
}
.h7 {
  margin-left: 22%;
}
.h8 {
  margin-left: 12%;
}
.h1vpr {
  margin-left: 10%;
}
.h1oge {
  margin-left: 10%;
}
