.pg {
  display: inline;
}
.img {
  width: 40%;
  height: 40%;
  margin-left: 20%;
  margin-top: 5%;
}
.img2 {
  width: 30%;
  height: 30%;
  margin-left: 5%;
  margin-bottom: 10%;
}
.butt {
  width: 16%;
  height: 6%;
  position: absolute;
  margin-top: 33%;
  margin-left: 11%;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  background-color: #282828;
  text-decoration: none;
  outline: none;
  border-color: #282828;
  color: white;
  font-size: 100%;
  cursor: pointer;

  @media screen and (max-width: 1100px) {
    font-size: 70%;
  }
}
.butt:active {
  color: #e3e3e3;
}
