.vars {
  width: 50%;
  font-size: 18px;
  font-weight: 500;
  padding-left: 3%;
  padding-bottom: 2%;
  margin-left: 20%;
  background-color: whitesmoke;
  box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.618);
}
